
@{
	ViewData["Title"] = "Página inicial";
	Layout = "~/Views/Shared/_LayoutIES.cshtml";
}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1750">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="mx-auto d-block w-75" src="~/images/feevale.png" alt="Feevale">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/ufrgs.jpg" alt="UFRGS">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/faccat.jpg" alt="FACCAT">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/unisinos.jpg" alt="Unisinos">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/ienh.jpg" alt="IENH">
		</div>
	</div>
</div>
