
@{
	ViewData["Title"] = "Teste - Luisa";
	Layout = "~/Views/Shared/_LayoutIES.cshtml";
}
<div id="carouselExampleSlidesOnly" class="carousel	slide" data-r
	 ide="carousel">
	<div class="carousel-inner">
		<div class="carousel-item	active">
			<img class="mx-auto	d-block	w-50" src="~/images/cachorro.jpg" alt="Luisa Hugendobler">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/logo.png" alt="Luisa">
		</div>
		<div class="carousel-item">
			<img class="mx-auto	d-block	w-75" src="~/images/instituicaoC">
		</div>
	</div>
</div>
