 @model Modelo.Docente.Professor

@{
    Layout = "_LayoutIES";
}

@{
    ViewData["Title"] = "Editar professor - ";
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">
        Alterando um professor existente
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div class="row">
                <div class="col-9">
                    <input type="hidden" asp-for="ProfessorID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center h3">
                        <input type="submit" value="Atualizar Professor" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Retornar à listagem de professores</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer bg-info text-center text-white">
        Informe os dados acima e/ou clique em um dos botões de ação
    </div>
</div>

@section ScriptPage {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}